*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
}

.card-container{
    background-color: hsl(216, 50%, 16%);
    box-shadow: 8px 8px 30px 20px rgba(0, 0, 0, 0.2);
    max-width: 315px;
    margin: auto;
    padding: 1.5em;
    margin-top: 22%;
    margin-bottom: 10%;
    border-radius: 20px;
}

img{
    max-width: 100%;
}
.image{
    position: relative;
}

.image .img-active{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: hsla(178, 100%, 50%, 0.541);
    opacity: 0;
}

.image .img-active img{
    position: absolute;
    top: 40%;
    left: 40%;
}

.image .img-active:hover,
.image .img-active:focus{
    opacity: 1;
}

.body-card{
    margin-top: 1.1em;
}

a{ 
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

a:hover{
    color: hsl(178, 100%, 50%);
}

.body-card p{
    font-weight: 300;
    margin-top: 3%;
}

.info-icons{
    display: flex;
    align-items: center;
    gap: 4.5em;
    margin-top: 7%;
    margin-bottom: 5%;
}

.eth,
.clock{
    display: flex;
    font-size: 0.8em;
}

.eth p,
.clock p{
    margin-left: 0.5em;
}

.eth p{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.avatar{
    display: flex;
    align-items: center;
    margin-top: 7%;
}

.avatar img{
    max-width: 30px;
}


.avatar p{
    font-weight: 400;
    font-size: 0.8em;
    margin-left: 6%;
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 600px){
    .card-container{
        margin-top: 5%;
        margin-bottom: 0;
    }
}